name: Build

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.6
      - name: Install awesome_bot
        run: gem install awesome_bot
      - name: Check URLs
        run: awesome_bot README.md --allow-redirect --request-delay 0.2 --skip-save-results --allow-dupe --white-list https://portal.zksync.io/ https://support.argent.xyz/hc/en-us/articles/4406742741649-How-to-fund-your-zkSync-account-from-another-wallet-or-exchange
